<!DOCTYPE html>

<html class="no-js">
    <head>
        <meta charset="UTF-8" />
        
        <!--Links to the main Style Sheet-->
        <link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" />
        
        <!--Links to a modernizer JavaScript file that fixes a lot of issues with old browsers-->
        <script src="{{ STATIC_URL }}js/modernizr.js"></script>
        
        <!--Makes the site so it won't scale down on small devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <!--Don't forget to fill these out!-->
        <meta name="description" content="ICSE is the premier software engineering conference, providing a forum for researchers, practitioners and educators to present and discuss the most recent innovations, trends, experiences and concerns in the field of software engineering." />
   
        <title>ICSE Austin 2016 :: Home</title>
    </head>

    <body>
        <div class="wrapper">
		<header class="social"><a href="http://facebook.com/icse2016"><img src="{{ STATIC_URL }}images/fb_icon.png" alt="Follow ICSE on Facebook" /></a><a href="http://twitter.com/icse2016"><img src="{{ STATIC_URL }}images/twitter_icon.png" alt="Follow ICSE on Twitter" /></a></header>
            
            <header class="logo"><a href="/"><img src="{{ STATIC_URL }}images/icse_logo.jpg" alt="ICSE logo" /></a></header>
            
            <!-- Navigation for Desktop and tablet -->
            <nav class="nav_desktop">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Call &amp; Dates</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Venue</a></li>
                    <li><a href="#">Austin</a></li>
                </ul>
            </nav>
            
            <!-- Navigation for mobile -->
            <nav class="nav_mobile">
                <a href="#" onclick="toggle_visibility('dropdown');">Menu</a>
                
                    <nav id="dropdown">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Call &amp; Dates</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Venue</a></li>
                            <li><a href="#">Austin</a></li>
                        </ul>
                    </nav>
            </nav>
            
            <!-- Left-hand main text box-->
            <article class="hero"><img src="{{ STATIC_URL }}images/blue_bonnets.jpg" alt="two Texas Longhorn cattle grazing in a feild of bluebonnets" /></article>
            
            <article class="main">
                <h1>The 38<sup>th</sup> International<br />Conference on Software Engineering<br />Austin, May 14 - 22, 2016 </h1>
                <p>The International Conference on Software Engineering is coming to Austin for a second time in May 14 - 22, 2016. There, the top minds in software engineering research and practice will convene for a week of inspirational talks, demos and conversation. A quarter-century after the Texas state capitol first hosted ICSE, Austin has become a hub for technology, entrepreneurship, music, outdoor recreation and nightlife.  ICSE 2016 will be located in the lovely Austin Arboretum Area &mdash; known as  “new Austin” &mdash; at the start of the Texas hill country and at the peak of the Texas wildflower season. What better setting could there be for flourishing ideas?</p>  

                <p>Please mark your calendars. Contribute your results and ideas. Then plan to join us to make the 38th ICSE one for the record books since, as the saying goes, <em>&ldquo;Everything is bigger in Texas!&rdquo;</em></p>
            </article>
            
            <!-- Right-hand News box-->
            <article class="news">
                <h2>News</h2>
                
                <ul>
                    
                    <li>
                        <h3><a href="#">1 June 2014</a></h3>
                        <p>ICSE 2016 postcard is ready for <a href="{{ STATIC_URL }}images/postcard_ICSE_2016.pdf">download</a></p>
                    </li>
                    
                    <li>
                        <h3><a href="#">05 May 2014</a></h3>
                        <p>ICSE 2016 twitter and facebook sites started</p>
                    </li>
                    
                </ul>
            </article>
            
            <!-- Information Box -->
            <article class="info">
                <p>For more information please contact the appropriate individual(s) on the <a href="mailto:#">Organizing committee</a>.</p>
                <p>For general information contact: <a href="mailto:icse2016@icse-conferences.org"> icse2016@icse-conferences.org</a></p>
            </article>
            
            
            <!-- Social Footer -->
            <footer>
                <article class="copyright">
                    <p>ICSE is the premier software engineering conference, providing a forum for researchers, practitioners and educators to present and discuss the most recent innovations, trends, experiences and concerns in the field of software engineering. Note that ICSE: International Conference on Software Engineering is a registered trademark</p>
                </article>
                
                <article class="social_feed">
		<a class="twitter-timeline" href="https://twitter.com/icse2016" data-widget-id="473081849036550146">Tweets by @icse2016</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                </article>
                
                <article class="social_feed">
		<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ficse2016&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=253797987989891" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>
                </article>
            </footer>
         </div><!-- End wrapper -->
        
        <!-- Grey Footer -->
        <footer class="greybar">
            &nbsp;
        </footer>
       
        <!-- This script activates the drop-down menu for mobile -->
            <script type="text/javascript">
        <!--
            function toggle_visibility(id) {
               var e = document.getElementById(id);
               if(e.style.display == 'block')
                  e.style.display = 'none';
               else
                  e.style.display = 'block';
            }
        //-->
        </script>
    </body>
</html>
